body {
    background-color: #030314 !important;
    margin: 0;
    border: 0;
    padding: 0;
}
nav {
    background-color: transparent !important;
    color: #ffffff;
}
.nav-link {
    color: #ffffff;
}
.somos {
    color: #ffffff;
}
.linea {
    color: #09cfdd !important;
}
.card-header {
    background-color: #09cfdd !important;
    text-align: center;
}
.te {
    background-color: #030314 !important;
    color: #ffffff;
}
.lo {
    background-color: #09cfdd !important;
    color: #ffffff;
}
.img-responsive {
    filter: invert();
}