body {
    margin: 0;
    border: 0;
    padding: 0;
}
nav {
    background-color: transparent !important;
}
.carousel-control-prev {
    background-color: transparent !important;
}
.carousel-control-next {
    background-color: transparent !important;
}